@import "variables";

body {
  background-color: $color-secondary;
  color: $color-white;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.app-frame {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;

  &__item {
    padding: 0 15px;
    flex-basis: 0;
    flex-grow: 1;

    &--game {
      flex: 0 0 100%;
      border-bottom: 1px solid $color-white;

      @media (min-width: 768px) {
        flex: 0 0 65%;
        border-bottom: 0;
        border-right: 1px solid $color-white;
      }
    }
  }

  .frame-title {
    font-size: 1.5rem;
    border-bottom: 1px solid $color-white;
    margin: 0;
    padding: 15px 0;
  }

  .frame-lit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;

    &__item {
      padding: 10px;
    }
  }
}

.frame-button {
  width: 100px;
  height: 100px;
  background-color: $color-white;
  border: 6px solid $color-grey;
  border-radius: 4px;
  color: $color-primary;
  font-size: 3rem;
}

.summary-table {
  width: 100%;

  thead {
    th {
      border-bottom: 1px solid $color-white;
    }
  }

  th, td {
    text-align: center;
    font-size: 2rem;
  }
}
